<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataExtraction" value="schema\data_extraction.csv" />
		<add key="TempFolder" value="templ\TempFiles\" />
		<add key="ReportFolder" value="templ\" />
		<add key="LibrayPath" value="\LCA_TABLE_CONTACT_xl_04Apr24.csv"/>

		<add key="panelExtractionDocumentPath" value="C:\Electre_Project\Documents\PanelExtractionDocument\PanelExtractionSteps.docx" />
		
		<!--wireList folder-->
		<add key="SheetFolder" value="SheetWireListReports\" />
		<add key="LoomFolder" value="LoomWireListReports\" />
		<add key="WireListFolder" value="WireListReports\" />
		<add key="BundleFolder" value="BundleReports\" />
		<!--Megger Folder-->
		<add key="MeggerSchedulerFolder" value="MeggerSchedulerReports\"/>
		
		<!--continuity Folder-->
		<add key="ContinuityFolder" value="Continuity_WO_Breakdown\" />
		<add key="ContinuityCompFolder" value="ContinuityCompReports\" />
		<!--Component Breakdown Folders-->
		<add key="EquipmentFolder" value="EquipmentWireListReports\" />
		<add key="BrkFolder" value="BreakConnWireListReports\" />
		<add key="JmFolder" value="JunctionModWireListReports\" />
		<add key="MiscFolder" value="MiscWireListReports\" />

		<!--powerOn Folder-->
		<add key="PowerOnFolder" value ="PowerOnReports\"/>

		<!--Panel Drawing Folder-->
		<add key="PanelDrawingFolder" value ="TempFiles\"/>

		<!--Panel Drawing Schedules Folder-->
		<add key="LoomFolderCL" value="PanelSchedules\LoomWireListReports_Panel\" />
		<add key="LoomFolderBundleCL" value="PanelSchedules\BundleReports_Panel\" />
		<add key="SheetFolderCL" value="PanelSchedules\SheetWireListReports_Panel\" />
		<add key="panelContinuityFolder" value="PanelSchedules\Continuity_WO_Breakdown_Panel\" />
		<add key="panelContinuityCompFolder" value="PanelSchedules\ContinuityCompReports_Panel\" />
		<add key="panelMeggerFolder" value="PanelSchedules\MeggerReports_Panel\" />
		<add key="panelPowerOnFolder" value="PanelSchedules\PowerOnReports_Panel\" />
		
		
		
		<!--Report type Name-->
		<add key="cableListTitle" value="Cable List Report" />
		<add key="componetBreakTitle" value="Component Specific Breakdown Report" />
		<add key="continuityTitle" value="Continuity Without Breakdown Report" />
		<add key="MeggerTitle" value="Megger Scheduler Report"/>
		<add key="powerOnTitle" value="Power On Schedule"/>
		<add key="panelDrawingTitle" value="Panel Drawing"/>
		<add key="panelDwgSchedulesTitle" value="Panel Dwg Schedules"/>
	</appSettings>
</configuration>